windows:https://subjectivetechnologies.com/datasources/RcloneDataSource/deps/bin/windows/rclone.exe
mac:https://subjectivetechnologies.com/datasources/RcloneDataSource/deps/bin/mac/rclone
linux:https://subjectivetechnologies.com/datasources/RcloneDataSource/deps/bin/linux/rclone
