windows:https://datasources.subjectivetechnologies.com/rclone/deps/bin/windows/rclone.exe
mac:https://datasources.subjectivetechnologies.com/rclone/deps/bin/mac/rclone
linux:https://datasources.subjectivetechnologies.com/rclone/deps/bin/linux/rclone
